In [1]:
# Importamos librer√≠as necesarias
import pandas as pd
import numpy as np
import os
import glob

In [2]:
csv_files = glob.glob('*.csv')
lista_data = []
  
# Creamos un bucle que recorre cada archivo csv de la carpeta, crea un df y lo agrega a una lista
for filename in csv_files:
    data = pd.read_csv(filename)
    lista_data.append(data)

In [3]:
for df in lista_data:
    print(df.head(5))

   City Code          City         Metro        County State  Population Rank  \
0       6181      New York      New York        Queens    NY                1
1      12447   Los Angeles   Los Angeles   Los Angeles    CA                2
2      17426       Chicago       Chicago          Cook    IL                3
3      39051       Houston       Houston        Harris    TX                4
4      13271  Philadelphia  Philadelphia  Philadelphia    PA                5

   November 2010  December 2010  January 2011  February 2011  ...  April 2016  \
0            NaN            NaN           NaN            NaN  ...        2334
1         2184.0         2184.0        2183.0         2188.0  ...        2637
2         1563.0         1555.0        1547.0         1537.0  ...        1684
3         1198.0         1199.0        1199.0         1200.0  ...        1444
4         1092.0         1099.0        1094.0         1087.0  ...        1206

   May 2016  June 2016  July 2016  August 2016  September 2016  October 2016  \
0      2339       2345       2344         2336            2324          2318
1      2662       2687       2704         2716            2723          2731
2      1686       1687       1685         1681            1675          1668
3      1446       1446       1443         1440            1438          1437
4      1211       1218       1222         1223            1220          1216

   November 2016  December 2016  January 2017
0           2321           2321          2322
1           2740           2748          2753
2           1656           1644          1632
3           1437           1435          1430
4           1211           1209          1212

[5 rows x 81 columns]
   City Code          City         Metro        County State  Population Rank  \
0       6181      New York      New York        Queens    NY                1
1      12447   Los Angeles   Los Angeles   Los Angeles    CA                2
2      17426       Chicago       Chicago          Cook    IL                3
3      39051       Houston       Houston        Harris    TX                4
4      13271  Philadelphia  Philadelphia  Philadelphia    PA                5

   November 2010  December 2010  January 2011  February 2011  ...  April 2016  \
0            NaN            NaN           NaN            NaN  ...       1.806
1          1.578          1.578         1.580          1.582  ...       1.990
2          1.244          1.248         1.254          1.254  ...       1.354
3          0.788          0.784         0.784          0.786  ...       0.984
4          0.854          0.858         0.858          0.858  ...       0.948

   May 2016  June 2016  July 2016  August 2016  September 2016  October 2016  \
0     1.810      1.816      1.824        1.828           1.836         1.844
1     2.004      2.018      2.026        2.032           2.038         2.042
2     1.362      1.370      1.374        1.378           1.380         1.380
3     0.984      0.982      0.980        0.976           0.974         0.974
4     0.956      0.962      0.964        0.964           0.966         0.968

   November 2016  December 2016  January 2017
0          1.858          1.866         1.872
1          2.048          2.056         2.064
2          1.380          1.376         1.374
3          0.976          0.976         0.974
4          0.972          0.974         0.974

[5 rows x 81 columns]

In [4]:
for df in lista_data:
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13131 entries, 0 to 13130
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City Code        13131 non-null  int64
 1   City             13131 non-null  object
 2   Metro            11899 non-null  object
 3   County           13131 non-null  object
 4   State            13131 non-null  object
 5   Population Rank  13131 non-null  int64
 6   November 2010    11348 non-null  float64
 7   December 2010    11348 non-null  float64
 8   January 2011     11348 non-null  float64
 9   February 2011    11500 non-null  float64
 10  March 2011       11673 non-null  float64
 11  April 2011       11722 non-null  float64
 12  May 2011         11732 non-null  float64
 13  June 2011        11732 non-null  float64
 14  July 2011        11732 non-null  float64
 15  August 2011      11732 non-null  float64
 16  September 2011   11734 non-null  float64
 17  October 2011     11748 non-null  float64
 18  November 2011    11748 non-null  float64
 19  December 2011    11969 non-null  float64
 20  January 2012     11969 non-null  float64
 21  February 2012    11969 non-null  float64
 22  March 2012       11969 non-null  float64
 23  April 2012       13131 non-null  int64
 24  May 2012         13131 non-null  int64
 25  June 2012        13131 non-null  int64
 26  July 2012        13131 non-null  int64
 27  August 2012      13131 non-null  int64
 28  September 2012   13131 non-null  int64
 29  October 2012     13131 non-null  int64
 30  November 2012    13131 non-null  int64
 31  December 2012    13131 non-null  int64
 32  January 2013     13131 non-null  int64
 33  February 2013    13131 non-null  int64
 34  March 2013       13131 non-null  int64
 35  April 2013       13131 non-null  int64
 36  May 2013         13131 non-null  int64
 37  June 2013        13131 non-null  int64
 38  July 2013        13131 non-null  int64
 39  August 2013      13131 non-null  int64
 40  September 2013   13131 non-null  int64
 41  October 2013     13131 non-null  int64
 42  November 2013    13131 non-null  int64
 43  December 2013    13131 non-null  int64
 44  January 2014     13131 non-null  int64
 45  February 2014    13131 non-null  int64
 46  March 2014       13131 non-null  int64
 47  April 2014       13131 non-null  int64
 48  May 2014         13131 non-null  int64
 49  June 2014        13131 non-null  int64
 50  July 2014        13131 non-null  int64
 51  August 2014      13131 non-null  int64
 52  September 2014   13131 non-null  int64
 53  October 2014     13131 non-null  int64
 54  November 2014    13131 non-null  int64
 55  December 2014    13131 non-null  int64
 56  January 2015     13131 non-null  int64
 57  February 2015    13131 non-null  int64
 58  March 2015       13131 non-null  int64
 59  April 2015       13131 non-null  int64
 60  May 2015         13131 non-null  int64
 61  June 2015        13131 non-null  int64
 62  July 2015        13131 non-null  int64
 63  August 2015      13131 non-null  int64
 64  September 2015   13131 non-null  int64
 65  October 2015     13131 non-null  int64
 66  November 2015    13131 non-null  int64
 67  December 2015    13131 non-null  int64
 68  January 2016     13131 non-null  int64
 69  February 2016    13131 non-null  int64
 70  March 2016       13131 non-null  int64
 71  April 2016       13131 non-null  int64
 72  May 2016         13131 non-null  int64
 73  June 2016        13131 non-null  int64
 74  July 2016        13131 non-null  int64
 75  August 2016      13131 non-null  int64
 76  September 2016   13131 non-null  int64
 77  October 2016     13131 non-null  int64
 78  November 2016    13131 non-null  int64
 79  December 2016    13131 non-null  int64
 80  January 2017     13131 non-null  int64
dtypes: float64(17), int64(60), object(4)
memory usage: 8.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11919 entries, 0 to 11918
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City Code        11919 non-null  int64
 1   City             11919 non-null  object
 2   Metro            11003 non-null  object
 3   County           11919 non-null  object
 4   State            11919 non-null  object
 5   Population Rank  11919 non-null  int64
 6   November 2010    10600 non-null  float64
 7   December 2010    10600 non-null  float64
 8   January 2011     10600 non-null  float64
 9   February 2011    10744 non-null  float64
 10  March 2011       10829 non-null  float64
 11  April 2011       10878 non-null  float64
 12  May 2011         10885 non-null  float64
 13  June 2011        10885 non-null  float64
 14  July 2011        10885 non-null  float64
 15  August 2011      10885 non-null  float64
 16  September 2011   10886 non-null  float64
 17  October 2011     10900 non-null  float64
 18  November 2011    10900 non-null  float64
 19  December 2011    11120 non-null  float64
 20  January 2012     11120 non-null  float64
 21  February 2012    11120 non-null  float64
 22  March 2012       11120 non-null  float64
 23  April 2012       11919 non-null  float64
 24  May 2012         11919 non-null  float64
 25  June 2012        11919 non-null  float64
 26  July 2012        11919 non-null  float64
 27  August 2012      11919 non-null  float64
 28  September 2012   11919 non-null  float64
 29  October 2012     11919 non-null  float64
 30  November 2012    11919 non-null  float64
 31  December 2012    11919 non-null  float64
 32  January 2013     11919 non-null  float64
 33  February 2013    11919 non-null  float64
 34  March 2013       11919 non-null  float64
 35  April 2013       11919 non-null  float64
 36  May 2013         11919 non-null  float64
 37  June 2013        11919 non-null  float64
 38  July 2013        11919 non-null  float64
 39  August 2013      11919 non-null  float64
 40  September 2013   11919 non-null  float64
 41  October 2013     11919 non-null  float64
 42  November 2013    11919 non-null  float64
 43  December 2013    11919 non-null  float64
 44  January 2014     11919 non-null  float64
 45  February 2014    11919 non-null  float64
 46  March 2014       11919 non-null  float64
 47  April 2014       11919 non-null  float64
 48  May 2014         11919 non-null  float64
 49  June 2014        11919 non-null  float64
 50  July 2014        11919 non-null  float64
 51  August 2014      11919 non-null  float64
 52  September 2014   11919 non-null  float64
 53  October 2014     11919 non-null  float64
 54  November 2014    11919 non-null  float64
 55  December 2014    11919 non-null  float64
 56  January 2015     11919 non-null  float64
 57  February 2015    11919 non-null  float64
 58  March 2015       11919 non-null  float64
 59  April 2015       11919 non-null  float64
 60  May 2015         11919 non-null  float64
 61  June 2015        11919 non-null  float64
 62  July 2015        11919 non-null  float64
 63  August 2015      11919 non-null  float64
 64  September 2015   11919 non-null  float64
 65  October 2015     11919 non-null  float64
 66  November 2015    11919 non-null  float64
 67  December 2015    11919 non-null  float64
 68  January 2016     11919 non-null  float64
 69  February 2016    11919 non-null  float64
 70  March 2016       11919 non-null  float64
 71  April 2016       11919 non-null  float64
 72  May 2016         11919 non-null  float64
 73  June 2016        11919 non-null  float64
 74  July 2016        11919 non-null  float64
 75  August 2016      11919 non-null  float64
 76  September 2016   11919 non-null  float64
 77  October 2016     11919 non-null  float64
 78  November 2016    11919 non-null  float64
 79  December 2016    11919 non-null  float64
 80  January 2017     11919 non-null  float64
dtypes: float64(75), int64(2), object(4)
memory usage: 7.4+ MB
None

In [6]:
for df in lista_data:
    print(df.describe())

           City Code  Population Rank  November 2010  December 2010  \
count   13131.000000     13131.000000   11348.000000   11348.000000
mean    78126.756454      6566.000000    1327.100458    1331.831953
std    119604.910806      3790.737527     652.531343     655.822002
min      3300.000000         1.000000     547.000000     539.000000
25%     18803.000000      3283.500000     982.000000     984.750000
50%     34678.000000      6566.000000    1195.000000    1199.000000
75%     51385.500000      9848.500000    1479.000000    1479.000000
max    737791.000000     13131.000000   18787.000000   18848.000000

       January 2011  February 2011    March 2011    April 2011      May 2011  \
count  11348.000000   11500.000000  11673.000000  11722.000000  11732.000000
mean    1334.447744    1331.935217   1327.595819   1323.824518   1321.730822
std      653.931315     647.853483    640.168818    636.392831    633.675563
min      536.000000     542.000000    535.000000    533.000000    533.000000
25%      986.000000     984.000000    979.000000    973.000000    971.000000
50%     1201.500000    1201.000000   1201.000000   1196.000000   1194.000000
75%     1479.000000    1477.000000   1473.000000   1471.000000   1472.000000
max    19054.000000   19019.000000  18997.000000  18939.000000  19119.000000

          June 2011  ...    April 2016      May 2016     June 2016  \
count  11732.000000  ...  13131.000000  13131.000000  13131.000000
mean    1321.872826  ...   1466.406519   1470.625695   1472.876856
std      631.981504  ...    813.253498    815.322324    819.417181
min      536.000000  ...    543.000000    548.000000    547.000000
25%      972.000000  ...   1041.000000   1044.000000   1046.000000
50%     1193.000000  ...   1275.000000   1277.000000   1278.000000
75%     1473.000000  ...   1625.000000   1630.000000   1633.000000
max    19442.000000  ...  21344.000000  20547.000000  20400.000000

          July 2016   August 2016  September 2016  October 2016  \
count  13131.000000  13131.000000    13131.000000  13131.000000
mean    1471.627370   1468.666667     1465.817988   1465.572157
std      823.317848    825.885842      826.421670    825.621199
min      544.000000    539.000000      532.000000    527.000000
25%     1043.500000   1038.000000     1034.000000   1032.000000
50%     1276.000000   1270.000000     1268.000000   1266.000000
75%     1629.000000   1628.000000     1628.000000   1630.500000
max    20639.000000  20695.000000    20615.000000  20163.000000

       November 2016  December 2016  January 2017
count   13131.000000   13131.000000  13131.000000
mean     1467.105247    1467.524636   1467.296550
std       824.678612     821.891626    820.707579
min       518.000000     517.000000    518.000000
25%      1033.000000    1034.000000   1035.000000
50%      1267.000000    1267.000000   1264.000000
75%      1630.000000    1632.000000   1634.000000
max     19460.000000   18605.000000  17985.000000

[8 rows x 77 columns]
           City Code  Population Rank  November 2010  December 2010  \
count   11919.000000     11919.000000   10600.000000   10600.000000
mean    77097.011998      5960.000000       0.860989       0.863896
std    118093.323482      3440.863264       0.286088       0.286489
min      3300.000000         1.000000       0.360000       0.358000
25%     18762.000000      2980.500000       0.676000       0.678000
50%     34637.000000      5960.000000       0.796000       0.799000
75%     51298.500000      8939.500000       0.972000       0.974000
max    737791.000000     11919.000000       4.482000       4.508000

       January 2011  February 2011    March 2011    April 2011      May 2011  \
count  10600.000000   10744.000000  10829.000000  10878.000000  10885.000000
mean       0.865602       0.864939      0.862232      0.860946      0.859769
std        0.284910       0.281532      0.278903      0.277075      0.275870
min        0.358000       0.358000      0.362000      0.366000      0.366000
25%        0.680000       0.682000      0.680000      0.678000      0.678000
50%        0.802000       0.802000      0.800000      0.800000      0.798000
75%        0.976000       0.972000      0.970000      0.968000      0.968000
max        4.558000       4.564000      4.548000      4.536000      4.528000

          June 2011  ...    April 2016      May 2016     June 2016  \
count  10885.000000  ...  11919.000000  11919.000000  11919.000000
mean       0.859848  ...      0.958509      0.962608      0.964971
std        0.275311  ...      0.371177      0.373848      0.376643
min        0.366000  ...      0.394000      0.392000      0.388000
25%        0.678000  ...      0.732000      0.734000      0.734000
50%        0.800000  ...      0.870000      0.872000      0.872000
75%        0.968000  ...      1.072000      1.076000      1.080000
max        4.536000  ...      6.252000      6.342000      6.404000

          July 2016   August 2016  September 2016  October 2016  \
count  11919.000000  11919.000000    11919.000000  11919.000000
mean       0.964989      0.963645        0.962379      0.962570
std        0.378865      0.380334        0.381100      0.381545
min        0.384000      0.382000        0.378000      0.378000
25%        0.732000      0.730000        0.728000      0.728000
50%        0.872000      0.870000        0.870000      0.870000
75%        1.082000      1.080000        1.080000      1.082000
max        6.452000      6.476000        6.486000      6.476000

       November 2016  December 2016  January 2017
count   11919.000000   11919.000000  11919.000000
mean        0.963743       0.964275      0.964356
std         0.381775       0.381395      0.381297
min         0.378000       0.378000      0.378000
25%         0.728000       0.730000      0.732000
50%         0.870000       0.872000      0.872000
75%         1.082000       1.080000      1.080000
max         6.470000       6.440000      6.406000

[8 rows x 77 columns]

In [7]:
for df in lista_data:
    print(df.describe(exclude=[np.number]))

           City     Metro     County  State
count     13131     11899      13131  13131
unique     9670       701       1227     51
top     Clinton  New York  Jefferson     PA
freq         18       595        197   1260
           City     Metro      County  State
count     11919     11003       11919  11919
unique     8971       678        1147     51
top     Clinton  New York  Montgomery     PA
freq         17       583         188   1114

In [8]:
# Buscamos registros nulos por columna
for df in lista_data:
    col = df.columns
    for e in col:
        print(e,'\t',round(len(df[e][df[e].isnull()])/len(df)*100,2),'%')

City Code 	 0.0 %
City 	 0.0 %
Metro 	 9.38 %
County 	 0.0 %
State 	 0.0 %
Population Rank 	 0.0 %
November 2010 	 13.58 %
December 2010 	 13.58 %
January 2011 	 13.58 %
February 2011 	 12.42 %
March 2011 	 11.1 %
April 2011 	 10.73 %
May 2011 	 10.65 %
June 2011 	 10.65 %
July 2011 	 10.65 %
August 2011 	 10.65 %
September 2011 	 10.64 %
October 2011 	 10.53 %
November 2011 	 10.53 %
December 2011 	 8.85 %
January 2012 	 8.85 %
February 2012 	 8.85 %
March 2012 	 8.85 %
April 2012 	 0.0 %
May 2012 	 0.0 %
June 2012 	 0.0 %
July 2012 	 0.0 %
August 2012 	 0.0 %
September 2012 	 0.0 %
October 2012 	 0.0 %
November 2012 	 0.0 %
December 2012 	 0.0 %
January 2013 	 0.0 %
February 2013 	 0.0 %
March 2013 	 0.0 %
April 2013 	 0.0 %
May 2013 	 0.0 %
June 2013 	 0.0 %
July 2013 	 0.0 %
August 2013 	 0.0 %
September 2013 	 0.0 %
October 2013 	 0.0 %
November 2013 	 0.0 %
December 2013 	 0.0 %
January 2014 	 0.0 %
February 2014 	 0.0 %
March 2014 	 0.0 %
April 2014 	 0.0 %
May 2014 	 0.0 %
June 2014 	 0.0 %
July 2014 	 0.0 %
August 2014 	 0.0 %
September 2014 	 0.0 %
October 2014 	 0.0 %
November 2014 	 0.0 %
December 2014 	 0.0 %
January 2015 	 0.0 %
February 2015 	 0.0 %
March 2015 	 0.0 %
April 2015 	 0.0 %
May 2015 	 0.0 %
June 2015 	 0.0 %
July 2015 	 0.0 %
August 2015 	 0.0 %
September 2015 	 0.0 %
October 2015 	 0.0 %
November 2015 	 0.0 %
December 2015 	 0.0 %
January 2016 	 0.0 %
February 2016 	 0.0 %
March 2016 	 0.0 %
April 2016 	 0.0 %
May 2016 	 0.0 %
June 2016 	 0.0 %
July 2016 	 0.0 %
August 2016 	 0.0 %
September 2016 	 0.0 %
October 2016 	 0.0 %
November 2016 	 0.0 %
December 2016 	 0.0 %
January 2017 	 0.0 %
City Code 	 0.0 %
City 	 0.0 %
Metro 	 7.69 %
County 	 0.0 %
State 	 0.0 %
Population Rank 	 0.0 %
November 2010 	 11.07 %
December 2010 	 11.07 %
January 2011 	 11.07 %
February 2011 	 9.86 %
March 2011 	 9.15 %
April 2011 	 8.73 %
May 2011 	 8.68 %
June 2011 	 8.68 %
July 2011 	 8.68 %
August 2011 	 8.68 %
September 2011 	 8.67 %
October 2011 	 8.55 %
November 2011 	 8.55 %
December 2011 	 6.7 %
January 2012 	 6.7 %
February 2012 	 6.7 %
March 2012 	 6.7 %
April 2012 	 0.0 %
May 2012 	 0.0 %
June 2012 	 0.0 %
July 2012 	 0.0 %
August 2012 	 0.0 %
September 2012 	 0.0 %
October 2012 	 0.0 %
November 2012 	 0.0 %
December 2012 	 0.0 %
January 2013 	 0.0 %
February 2013 	 0.0 %
March 2013 	 0.0 %
April 2013 	 0.0 %
May 2013 	 0.0 %
June 2013 	 0.0 %
July 2013 	 0.0 %
August 2013 	 0.0 %
September 2013 	 0.0 %
October 2013 	 0.0 %
November 2013 	 0.0 %
December 2013 	 0.0 %
January 2014 	 0.0 %
February 2014 	 0.0 %
March 2014 	 0.0 %
April 2014 	 0.0 %
May 2014 	 0.0 %
June 2014 	 0.0 %
July 2014 	 0.0 %
August 2014 	 0.0 %
September 2014 	 0.0 %
October 2014 	 0.0 %
November 2014 	 0.0 %
December 2014 	 0.0 %
January 2015 	 0.0 %
February 2015 	 0.0 %
March 2015 	 0.0 %
April 2015 	 0.0 %
May 2015 	 0.0 %
June 2015 	 0.0 %
July 2015 	 0.0 %
August 2015 	 0.0 %
September 2015 	 0.0 %
October 2015 	 0.0 %
November 2015 	 0.0 %
December 2015 	 0.0 %
January 2016 	 0.0 %
February 2016 	 0.0 %
March 2016 	 0.0 %
April 2016 	 0.0 %
May 2016 	 0.0 %
June 2016 	 0.0 %
July 2016 	 0.0 %
August 2016 	 0.0 %
September 2016 	 0.0 %
October 2016 	 0.0 %
November 2016 	 0.0 %
December 2016 	 0.0 %
January 2017 	 0.0 %

In [9]:
# Buscamos registros duplicados por df
for df in lista_data:
    print(df.duplicated().sum())

0
0